/**========================================================================
 *                           Body
 *========================================================================**/

 .html body{
    margin: 0;
    padding: 0;
    height: 100%;

 }

/**========================================================================
 *                           Navigation Meny
 *========================================================================**/

 /* Navigationsfält */
 

 nav.big{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: beige;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .name{
    color: black;
 }


 /* Navigations-listan */
 nav.big ul{
    /* Ta bort punkterna från listan */
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center;

 }

 /* Navigations-listansobject */
 nav.big ul li{
    /* Marginal mellan länkarna i sig */
    margin: 0 15px;

 }

 /* Länkarna i navigationslistan */
 nav.big ul li a{
    /* Ta bort understrykningen som finns där som standard */
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;

 }

 /* Hoverfunktion för länkarna i sig */
 nav.big ul li a:hover{
    color: rebeccapurple;
 }


/**========================================================================
 *                           HERO
 *========================================================================**/

.hero {
    
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    text-align: center;
    
    
    

}

.inforubrik {
    font-size: 7em;
    margin: 0;
    color: black;
    
    
} 

.infotext{
    font-size: 1.2em;
    color: aqua;
    max-width: 600px;
    margin:auto; 
    line-height: 1.6;;

    /* Ruta runt den */
    border:2px solid aqua; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    text-align: center;
    background-color: gray
    
    
    

}

/**========================================================================
 *                           Footer
 *========================================================================**/

footer{
    text-align: center;
    padding: 10px 20px;
    background-color: grey;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Footer text */
footer p{
    text-decoration: none;
    color: black
}

/* Mail länken */
footer p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* hover funktion för länken */
footer p a:hover{
    text-decoration: underline;
    color: rebeccapurple;
}

.LinkedIn-link-footer{
    margin-left: 5px;

}

.LinkedIn-link-footer img{
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.GitHub-link-footer{
    margin-left: 5px;

}

.GitHub-link-footer img{
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}



/**========================================================================
 *                           Forumlär till kontaktsidan
 *========================================================================**/

form.formulär{
    max-width: 1000px;
    padding: 20px; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 50px;

}

/* För själva label */
form.formulär label{
    font-weight: bold;
    color: black;

}

/* För texten som ska skrivas in */
form.formulär input[type="text"]{
    width: 100%;
    padding: 1;
    font-size: 20px;;

}

/* För textområdet där man skriver in i */
form.formulär textarea{
    width: 100%;
    padding: 1;
    border: 5px;
    font-size: 20px;
    min-height: 100px;
    resize: vertical;
}

form.formulär input[type="submit"]{
    
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 1;
    margin: 10px;
    font-size: 20px;
}

/* För mobilen med en max bred på 750px */
@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    nav.big ul {
        display: none;
    }
}

@media screen and (min-width: 700px){
    nav.small{
        display:none
    }

}

/**========================================================================
 *                           Ikon Meny
 *========================================================================**/
 .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    background-color: dimgray;
    border-radius: 25px;
    
 }

 .GitHub-link img{
    
    width: 100px;
    height: 100px;
   
 }
 
 .GitHub-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
 }

 
 
 .GitHub-link h3 {
    text-decoration: none;
    color: black;
 }

 .GitHub-link h3:hover{
    color: rebeccapurple;
 }

 .LinkedIn-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
 }
 

 .LinkedIn-link img{

    
    width: 100px;
    height: 100px;
   
 }
 
 .LinkedIn-link h3 {
    text-decoration: none;
    color: black;

 }

 .LinkedIn-link h3:hover{
    color: rebeccapurple;
 }





 


