/* Ser till att hela sidan används utan vita delar runt */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   
    
}

/**========================================================================
 *                           Navigation Meny
 *========================================================================**/

                      /* Navigationsfält för stor skärm */
 

 .navbarDesktop{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
 }

 .navbarDesktopTitle{
    font-weight: bold;
    font-size: 1.5em;
 }


 /* Navigations-listan */
 .navbarDesktopList{
    /* Ta bort punkterna från listan */
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    /* Mellanrummet mellan länkarna */
    gap: 50px;

 }

 /* Länkarna i navigationslistan */
 .navbarDesktopList li a{
    /* Ta bort understrykningen som finns där som standard */
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;

 }

 /* Hoverfunktion för länkarna i sig */
 .navbarDesktopList li a:hover{
    color: rebeccapurple;
 }

 .navbarDesktop .namebig{
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    

 }


/* Generell stil för hela hamburgarmenyn i sig */

.navbarMobile {
    background-color: beige;
    padding: 10px 20px; 
    position: relative;
    top: 0px; 
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbarMobileHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* namnet i mobil navigationmenyn */
.navbarMobileTitle{
    font-size:1.5em;
    font-weight: bolder;
    color: black
}

.navbarMobileList{
    list-style: none;
    /* Gömmer displayen som standard tills man trycker */
    display: none; 
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

/* Texten i listan */

.navbarMobileList li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: color 0.5s ease;
}

.navbarMobileList li a:hover{
    color: rebeccapurple;
}


.navbarMobileList.active{
    display: flex; /* Ser till att menyn visas */
    flex-direction: column;
}

/* Hamburgarknapp */
.hamburger{

    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: black;
    margin-left: auto;
}


/**========================================================================
 *                           HERO
 *========================================================================**/

.hero {
    
    
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    
    /* Flexinställningar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/**========================================================================
 *                           InformationText
 *========================================================================**/

.inforubrik {
    font-size: 7em;
    margin: 0;
    color: black;

    border:2px solid aqua; 
    border-radius: 15px; 
    text-align: center;
    background-color: gray
   
    
    
} 

.infotext{
    font-size: 1.2em;
    color: aqua;
    max-width: 600px;
    margin:auto; 
    line-height: 1.6;;
    margin: 20px;

    /* Ruta runt den */
    border:2px solid aqua; 
    border-radius: 15px; 
    text-align: center;
    background-color: gray
}

/**========================================================================
 *                           Artiklarna i Tekniska Sidan
 *========================================================================**/

 /* Hela artikelsektionen i sin helhet */
 .articles-section{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    
 }

 /* Själva artikeln */
 .article{
    flex: 1 1 calc(50% - 40px);
    max-width: 500px;
    background-color: gray; 
    padding: 15px;
    margin: 30px;
    border-radius: 30px;
 }

 .article:hover{
    
 }

 /* Bilden i artikel */
 .article img{
    width: 100%;

    /* Förhållandet 16:9 för bilderna */
    aspect-ratio: 16 /9;
    border-radius: 10px;
    margin: 10px;
 }


 /**========================================================================
 *                           Om mig sektionen
 *========================================================================**/

 /* Sektionen i sin helhet */

 .aboutMe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border-radius: 30px;
    margin: 30px;
    
    padding: 20px;
    gap: 20px

 }

 .aboutMe-section figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
 }

 .aboutMe-section img{
    width: 300px;
    height: 400px;
    border: 50px;
    object-fit: cover;
 }

/* Sektionen för texten */
.aboutMe-section article{
    max-width: 500px;
}

/* Rubriken */
.aboutMe-section header h2{
    font-weight: bolder;
    font-size: 2.5em;

}

/* Brödtexten */
.aboutMe-section p{
    font-size: 1.5em;
    
}
 
 
 


/**========================================================================
 *                           Forumlär till kontaktsidan
 *========================================================================**/

form.formulär{
    max-width: 1000px;
    padding: 20px; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 50px;

}

/* För själva label */
form.formulär label{
    font-weight: bold;
    color: black;

}

form.formulär input[type="text"],
form.formulär input[type="email"]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;

}

/* För textområdet där man skriver in i */
form.formulär textarea{
    width: 100%;
    padding: 10px;
    border: 5px;
    border-radius: 7px;
    font-size: 20px;
    min-height: 100px;
    resize: vertical;
    box-sizing: border-box;
}

form.formulär input[type="submit"]{
    
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 1px;
    margin: 10px;
    font-size: 20px;
    
}

form.formulär textarea:focus,
form.formulär input[type="text"]:focus,
form.formulär input[type="email"]:focus,
form.formulär input[type="submit"]:focus{
    border-color: rebeccapurple; /* Ändrar kantfärg vid fokus */
    outline: none; /* Tar bort standardblå "outline" */
    box-shadow: 0 0 5px rebeccapurple; /* Lägger till en subtil skugga */
}

/**========================================================================
 *                           Ikon Meny
 *========================================================================**/
 .socialMedia{
    text-align: center;
    padding: 20px;
    background-color: gray;
    border-radius: 30px;
    margin: 30px;
 }

 /* Texten */
 .socialMedia h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }

 /* LänkListan*/
 .socialMedia ul{
    list-style: none;
    
    /* För flex display */
    display: flex;
    justify-content: center;
    gap: 30px;
 }

 /* Texten i LänkListan */
 .socialMedia ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.5s ease;
    gap:10px;

    /* Flexdisplay */
    display: flex;
    flex-direction: column;
    text-align: center;
 }

 .socialMedia ul li a:hover{
    color: rebeccapurple;
 }

 /* Själva ikonerna */
 .socialMedia ul li img{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: 0.5s ease;
 }
 
 .socialMedia ul li img:hover{
    transform: scale(1.5);
 }

 .socialMedia ul li a span{
    font-size: 1.3em;
    margin-top: 2px;
    text-align: center;
 }


 /**========================================================================
 *                           Inställningar för dator / Mobil
 *========================================================================**/
 
/* För mobilen med en max bred på 750px */
@media screen and (max-width: 770px) {
    .hero{
        height: auto;
        padding:20px;
    }
    
    .infotext{
        font-size: 1em;
        line-height: 1.5;
    }

    form.formulär{
        max-width: 95%;
        padding: 10px
        
    }

    footer{
        flex-direction: column;
        padding: 15px 10px;
    }
    
    .navbarDesktop{
        display: none;
    }

    .navbarMobile{
        display: flex;
    }


    /* Om mig */
    .aboutMe-section header h2{
        font-weight: bolder;
        font-size: 2em;
    
    }
    
    /* Brödtexten */
    .aboutMe-section p{
        font-size: 1em;
        
    }

    
}

/* Stora skärmar */
@media screen and (min-width: 771px){
    .navbarMobile{
        display:none
    }

}


 /**========================================================================
 *                           Footer
 *========================================================================**/

footer{
    position: relative;
    text-align: center;
    padding: 10px 20px;
    background-color: grey;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Footer text */
footer p{
    text-decoration: none;
    color: black
}

/* Mail länken */
footer p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* hover funktion för länken */
footer p a:hover{
    text-decoration: underline;
    color: rebeccapurple;
}
.GitHub-link-footer,
.LinkedIn-link-footer{
    margin-left: 5px;

}
.GitHub-link-footer img,
.LinkedIn-link-footer img{
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

footer a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    font-weight: normal;
}




 


